.icon-basic {
    position: absolute;
    cursor: pointer;
    height: 50px;
    width: 50px;
    background: var(--color-header);
    color: var(--color-white);
    opacity: 0.5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: 550;
}

.detail {
    .detail-image {
        display: flex;
        justify-content: center;
        align-items: center;

        .icon-left {
            @extend .icon-basic;
            left: 10px;
        }

        .icon-left:hover {
            opacity: 1;
        }

        .icon-right:hover {
            opacity: 1;
        }

        .icon-right {
            @extend .icon-basic;
            right: 10px;
        }

        .p-image {
            max-height: 480px;
            max-width: 460px;
        }
    }

    .detail-content {
        font-size: 1.6rem;
        border: 1px solid black;
        padding: 6px;

        .p-border {
            border: 2px solid black;
            padding: 5px;
        }

        .p-title {
            font-size: 3rem;
            font-weight: 500;
            padding-top: 10px;
        }

        .p-rate {
            font-size: 1.7rem;
            display: flex;
            align-items: center;
            gap: 10px;

            .rate-number {
                color: red;
                border-bottom: 1px solid red;
            }
        }

        .p-price {
            color: var(--color-header);
            font-size: 3rem;
            font-weight: 500;
        }

        .p-brand {
            display: flex;
            align-items: center;
            gap: 15px;

            img {
                height: 30px;
            }
        }
        .btn-add{
            border: none;
            color: var(--color-white);
            margin-top: 10px;
            padding: 10px;
            width: 200px;
            background: #0984e3;
        }
        // .btn-add:hover{
        //     background: #0984e3;
        // }

    }
}