:root {

    --color-header: #0065c3;
    --color-header-hover: #74b9ff;

    --color-light-black2: #383838;
    --text-color: #333;
    --color-light-black: #333;
    --color-black: #000;
    --color-white: #fff;
    --color-pink: #d9d1c99a;
    --color-modal: rgba(51, 51, 51, 0.442);
    --color-red: #fd4337;
    --color-light-white: rgba(239, 238, 238, 0.718);

    --color-light-gray: #f0f0f0;
    --color-gray: #999797;
    --color-ping2: #f7f3f3d1;
}