.btn {
    position: relative;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.title {
    padding: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-admin {
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 15px 0px 15px;
    padding: 10px;
}

@media (max-width: 776px) {
  
    .ant-table-content {
      overflow-x: auto;
    }
  }